body {
	padding: 0px;
	margin: 0px;
	background-color: rgba(189, 59, 59, 0.986);
	align-content: center;
}
.heading {
	font-family: 'Tangerine', serif;
	font-size: 60px;
	color: rgb(255, 255, 255);
}
.noSelect {
	-webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
.container {
	margin-right: 40%;
	margin-left: 40%;
	margin-top: 20vh;
	width: 20vw;
	height: 59vh;
	min-width: 200px;
	display: grid;
	grid-gap: 0px;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	border: 0.2px solid rgba(0, 0, 0, 0.315);
	border-radius: 5%;
	background-color: white;
	font-size: 35px;
}
.gridButtons {
	grid-column-end:span 1;
	grid-row-end:span 1;

	text-align: center;
	color: rgba(46, 46, 46, 0.6);
	padding-top: 15px;
	/*background-color: rgba(255, 255, 255, 0.795);*/
	border:  1px solid rgba(46, 46, 46, 0.1);
    transition: all .18s ease;

}
.gridScreen {
	grid-column-start: 2;
	grid-column-end: span 3;
	grid-row-start: 1;
	grid-row-end: span 1;
	text-align: end;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-right: 10px;
	font-size: 35px;
	color:  rgba(46, 46, 46, 0.6);
	/*background-color: rgba(0, 255, 255, 0.137);*/
	border-bottom: 2px solid rgba(46, 46, 46, 0.4);
	overflow: hidden;
}
.gridButtons:hover {
	border-color: rgba(189, 59, 59, 0.986);
  	box-shadow: 0 0 5px rgba(189, 59, 59, 0.986);
}
.mouseDown {
	transform: scale(0.85);
	border-color: rgba(189, 59, 59, 0.986);
  	box-shadow: 0 0 5px rgba(189, 59, 59, 0.986);
}
.clear {
	font-size: 21px;
	grid-column-start: 1;
	grid-column-end: span 1;
	text-align: start;
	padding-left: 20px;
	padding-top: 30px;
	color: rgba(255, 0, 0, 0.719);
}
.textBox {
	align-content: center;
}
h1 {
	font-size: 40px;
	text-align: center;
}